/*-------------------------------------------------------------------------------------------*/
/* OptionsFramework Admin Styles */
/*-------------------------------------------------------------------------------------------*/

#of_container {
	margin: 20px 0;
	width: 785px;
	position:relative;
	z-index: 0;
}
#of_container #header {
	height: 55px;
	background-color: #6a6a6a;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(106, 106, 106)), to(rgb(51, 51, 51)));
	background-image: -webkit-linear-gradient(top, rgb(106, 106, 106), rgb(51, 51, 51));
	background-image: -moz-linear-gradient(top, rgb(106, 106, 106), rgb(51, 51, 51));
	background-image: -o-linear-gradient(top, rgb(106, 106, 106), rgb(51, 51, 51));
	background-image: -ms-linear-gradient(top, rgb(106, 106, 106), rgb(51, 51, 51));
	background-image: linear-gradient(top, rgb(106, 106, 106), rgb(51, 51, 51));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#6a6a6a', EndColorStr='#333333');
	border:none;
	border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
}
#of_container #header .logo {
	float: left;
	margin:5px 20px;
}

div.updated {
	background-color: lightYellow;
	border:none;
	width: 745px;
	margin: 11px 0 15px !important;
	display:inline-block;
	padding:0;
	text-indent:14px;
	line-height:40px;
	font-size:13px;
}

div.updated p {
	padding:0;
	margin:0;
}

#of_container #header .logo h2 {
	font-style:normal;
	color:#ccc;
	text-shadow:0 -1px 1px #000;
	font-size: 22px;
	font-weight:bold;
	letter-spacing:-1px;
	line-height: 24px;
}
#of_container #main {
	background-color: #333333;
	border:none;
}
#of_container #of-nav {
	float: left;
	position: relative;
	z-index: 9999;
	width: 160px;
	overflow-x:hidden;
}
#of_container #of-nav ul { -moz-box-shadow:0 1px 10px rgba(0,0,0,0.5); -webkit-box-shadow:0 1px 10px rgba(0,0,0,0.5); box-shadow:0 1px 10px rgba(0,0,0,0.5);margin:0; }
#of_container #of-nav li {
	margin-bottom:0;
	line-height:18px;
}
#of_container #of-nav ul li a:link, #of-nav ul li a:visited {
	display: block;
	padding: 10px 10px 11px 15px;
	font-size: 12px;
	width:134px;
	font-weight:bold;
	text-decoration: none;
	color: #ddd;
	text-shadow:0 -1px 0 #444;
	background-color: #818181;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(129, 129, 129)), to(rgb(103, 103, 103)));
	background-image: -webkit-linear-gradient(top, rgb(129, 129, 129), rgb(103, 103, 103));
	background-image: -moz-linear-gradient(top, rgb(129, 129, 129), rgb(103, 103, 103));
	background-image: -o-linear-gradient(top, rgb(129, 129, 129), rgb(103, 103, 103));
	background-image: -ms-linear-gradient(top, rgb(129, 129, 129), rgb(103, 103, 103));
	background-image: linear-gradient(top, rgb(129, 129, 129), rgb(103, 103, 103));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#818181', EndColorStr='#676767');
	border-bottom:1px solid #676767;
}
#of_container #of-nav ul li a:hover {
	color: #fff;
	text-shadow:0 -1px 1px #444;
	background-color: #909090;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(144, 144, 144)), to(rgb(116, 116, 116)));
	background-image: -webkit-linear-gradient(top, rgb(144, 144, 144), rgb(116, 116, 116));
	background-image: -moz-linear-gradient(top, rgb(144, 144, 144), rgb(116, 116, 116));
	background-image: -o-linear-gradient(top, rgb(144, 144, 144), rgb(116, 116, 116));
	background-image: -ms-linear-gradient(top, rgb(144, 144, 144), rgb(116, 116, 116));
	background-image: linear-gradient(top, rgb(144, 144, 144), rgb(116, 116, 116));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#909090', EndColorStr='#747474');
	border-bottom:1px solid #666;
}
#of_container #of-nav ul li.current a {
	background-color: #fffcc7;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 252, 199)), to(rgb(255, 235, 154)));
	background-image: -webkit-linear-gradient(top, rgb(255, 252, 199), rgb(255, 235, 154));
	background-image: -moz-linear-gradient(top, rgb(255, 252, 199), rgb(255, 235, 154));
	background-image: -o-linear-gradient(top, rgb(255, 252, 199), rgb(255, 235, 154));
	background-image: -ms-linear-gradient(top, rgb(255, 252, 199), rgb(255, 235, 154));
	background-image: linear-gradient(top, rgb(255, 252, 199), rgb(255, 235, 154));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#fffcc7', EndColorStr='#ffeb9a');
	color:#333;
	border-bottom:1px solid #ffeb9a;
	text-shadow:0 -1px 1px #fff;
}
/*
input.button-primary, button.button-primary, a.button-primary, input.button-primary:active, input.button-primary:hover {
	font-weight: bold;
	background-color: #fffcc7;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 252, 199)), to(rgb(255, 235, 154)));
	background-image: -webkit-linear-gradient(top, rgb(255, 252, 199), rgb(255, 235, 154));
	background-image: -moz-linear-gradient(top, rgb(255, 252, 199), rgb(255, 235, 154));
	background-image: -o-linear-gradient(top, rgb(255, 252, 199), rgb(255, 235, 154));
	background-image: -ms-linear-gradient(top, rgb(255, 252, 199), rgb(255, 235, 154));
	background-image: linear-gradient(top, rgb(255, 252, 199), rgb(255, 235, 154));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#fffcc7', EndColorStr='#ffeb9a');
	color:#333;
	border:none !important;
	padding:6px 12px;
	-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
	text-shadow:0 -1px 1px #fff;
}

input.button-secondary, button.button-secondary, a.button-secondary {
	font-weight: bold;
	background-color: #eaeaea;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(234, 234, 234)), to(rgb(204, 204, 204)));
	background-image: -webkit-linear-gradient(top, rgb(234, 234, 234), rgb(204, 204, 204));
	background-image: -moz-linear-gradient(top, rgb(234, 234, 234), rgb(204, 204, 204));
	background-image: -o-linear-gradient(top, rgb(234, 234, 234), rgb(204, 204, 204));
	background-image: -ms-linear-gradient(top, rgb(234, 234, 234), rgb(204, 204, 204));
	background-image: linear-gradient(top, rgb(234, 234, 234), rgb(204, 204, 204));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#eaeaea', EndColorStr='#cccccc');
	color:#333;
	border:none !important;
	padding:6px 12px;
	-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
	text-shadow:0 -1px 1px #fff;
} */

.chzn-container { margin:0 0 7px; }

#of_container #content {
	float: left;
	min-height: 560px;
	width: 577px;
	margin: 0 0 0 -1px;
	padding: 10px 24px 23px;
	background-color: #bbb;
	border-right: 1px solid #CCCCCC;
}
#of_container #content .section {
	margin-bottom: 10px;
}
#of_container #content .section h3.heading {
	margin: 10px 0 10px 0;
	padding: 7px 0px;
	border-bottom: 1px solid #e7e7e7;
}
#of_container #content .section .controls {
	display:block;
	width: 345px;
	margin: 0 15px 0 0;
	min-height:31px;
}
#of_container #content .section-images .controls {
	width:527px;
}
#of_container #content .section .explain {
	display:block;
	width: 345px;
	padding: 5px 10px 0 0;
	font-size: 11px;
	line-height:14px;
	color: #bbb;
}
#of_container #content .section-color .controls {
	width:125px
}
#of_container #content .section-color .explain {
	width:440px
}
#of_container textarea, #of_container input, #of_container select {
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	border-style:solid;
	border-width:1px;
}
#of_container .controls input, #of_container .controls select, #of_container .controls textarea {
	margin-bottom: 5px;
	background-color: #f1f1f1;
	border: 1px solid;
	border-color: #ccc #e6e6e6 #e6e6e6 #ccc;
	width: 340px;
	padding: 4px !important;
	font-size: 12px;
}
#of_container .controls select {
	padding: 0 0 0 4px;
	width: 340px
}
#of_container .controls textarea {
	width: 525px;
}
#of_container input[type=text] {
	width: 340px;
}
#of_container input.checkbox {
	position: relative;
	top: 3px;
	width: auto;
	padding: 0 !important;
	margin: -4px 10px 0 0;
}
#of_container input.of-radio {
	position: relative;
	top: 3px;
	width: auto;
	padding: 0 !important;
	margin: -4px 10px 0 0;
}
#of_container .controls .of-color {
	float:left;
	width: 80px;
	margin-left:5px;
}
#of_container #content .section-typography .controls {
	width:425px
}
#of_container #content .section-typography .explain {
	width:140px
}
#of_container .controls .of-typography-size {
	width:80px;
	float:left
}
#of_container .controls .of-typography-unit {
	width:50px;
	float:left
}
#of_container .controls .of-typography-face {
	width:100px;
	float:left
}
#of_container .controls .of-typography-style {
	width:80px;
	float:left
}
#of_container #content .section-background .controls {
	width:425px
}
#of_container #content .section-background .explain {
	width:140px
}
#of_container .of-background-properties {
	margin-top: 18px;	
}
#of_container .controls .of-background-repeat {
	width:160px;
	float:left
}
#of_container .controls .of-background-position {
	width:125px;
	float:left
}
#of_container .controls .of-background-attachment {
	width:125px;
	float:left
}
#of_container div.section-background .controls input.upload {
    width: 240px;
}
#of_container .controls .of-radio-img-img {
	border:3px solid #fff;
	padding:2px;
	margin:0 5px 10px 0;
	display:none;
	cursor:pointer;
	float:left;
}
#of_container .controls .of-radio-img-selected {
	border:3px solid #555;
	padding:2px;
}
#of_container .controls .of-radio-img-img:hover {
	opacity:.8;
}
#of_container .controls .of-border-width {
	width:80px;
	float:left
}
#of_container .controls .of-border-style {
	width:120px;
	float:left
}
#of_container .group {
	padding:9px 25px 15px;
	-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
	margin:15px 0 0 0;
	-moz-box-shadow:1px 1px 5px rgba(0,0,0,0.2); -webkit-box-shadow:1px 1px 5px rgba(0,0,0,0.2); box-shadow:1px 1px 5px rgba(0,0,0,0.2);
	background:#fff;
}
#of_container .group h2 {
	display:none;
	border-bottom:3px solid #e7e7e7
}
#of_container .controls input:focus, #of_container select:focus, #of_container textarea:focus {
	background:#fff;
}
#of_container .hide {
	display:none;
}
#of_container .of-option-image {
	max-width:340px;
	margin:3px 0 18px 0;
}
#of_container .mini .controls select, #of_container #content .section .mini .controls {
	width: 70px;
}
#of_container .mini .controls input, #of_container #content .mini .controls {
	width: 70px;
}
#of_container #content .mini .explain {
	width:500px;
}

/* Image Uploader */

#of_container .controls input.upload {
	width:280px;
	padding-bottom:6px;
}

#of_container .controls input.upload_button {
	float:right;
	width:58px;
	border-color:#BBBBBB;
	cursor:pointer;
	height:16px;
	padding:12px 0 !important;
	line-height:1px;
}
#of_container .controls input.upload_button:hover {
	border-color:#666666;
	color:#000;
}

#of_container .screenshot {
	float:left;
	margin-left:1px;
	position:relative;
	width:344px;
	margin-top:3px;
}
#of_container .section-background .screenshot {
	margin-bottom:18px;	
}
#of_container .screenshot img {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-border-radius:4px;
	background:#FAFAFA;
	border-color:#ccc #eee #eee #ccc;
	border-style:solid;
	border-width:1px;
	float:left;
	max-width:334px;
	padding:4px;
}
#of_container .screenshot .mlu_remove {
	background:url("../images/ico-delete.png") no-repeat;
	border:medium none;
	bottom:-4px;
	display:block;
	float:left;
	height:16px;
	padding:0;
	position:absolute;
	left:-4px;
	text-indent:-9999px;
	width:16px;
}
#of_container .screenshot .no_image .file_link {
	margin-left: 20px;
}
#of_container .screenshot .no_image .mlu_remove {
	bottom: 0px;
}
#of_container .reset-button {
	float:left;
	cursor:pointer;
}

#of_container label { vertical-align: top; position:relative; top:3px; }

/* Bottom Section */

#of_container .button-primary {
	float:right;
}
#of_container .of_admin_bar {
	background-color: #818181;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(129, 129, 129)), to(rgb(103, 103, 103)));
	background-image: -webkit-linear-gradient(top, rgb(129, 129, 129), rgb(103, 103, 103));
	background-image: -moz-linear-gradient(top, rgb(129, 129, 129), rgb(103, 103, 103));
	background-image: -o-linear-gradient(top, rgb(129, 129, 129), rgb(103, 103, 103));
	background-image: -ms-linear-gradient(top, rgb(129, 129, 129), rgb(103, 103, 103));
	background-image: linear-gradient(top, rgb(129, 129, 129), rgb(103, 103, 103));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#818181', EndColorStr='#676767');
	border:none;
	padding: 12px 12px 1px 12px;
	height: 38px;
	text-align: right;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.homepageBlockBuilder { width:528px; }
	
.homepage-block {
	cursor:move;
	font-size:12px;
	display:block;
	text-shadow:1px 1px 0 #fff;
	background-color: #e0f5fa !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(224, 245, 250)), to(rgb(197, 226, 246))) !important;
	background-image: -webkit-linear-gradient(top, rgb(224, 245, 250), rgb(197, 226, 246)) !important;
	background-image: -moz-linear-gradient(top, rgb(224, 245, 250), rgb(197, 226, 246)) !important;
	background-image: -o-linear-gradient(top, rgb(224, 245, 250), rgb(197, 226, 246)) !important;
	background-image: -ms-linear-gradient(top, rgb(224, 245, 250), rgb(197, 226, 246)) !important;
	background-image: linear-gradient(top, rgb(224, 245, 250), rgb(197, 226, 246)) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#e0f5fa', EndColorStr='#c5e2f6') !important;
	border:1px solid #fff;
	padding:10px 10px 12px 17px;
}

.homepage-block:hover { opacity:0.6; }

.homepage-block.no-sorting {
	cursor:default;
	background-color: #fafafa !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(250, 250, 250)), to(rgb(238, 238, 238))) !important;
	background-image: -webkit-linear-gradient(top, rgb(250, 250, 250), rgb(238, 238, 238)) !important;
	background-image: -moz-linear-gradient(top, rgb(250, 250, 250), rgb(238, 238, 238)) !important;
	background-image: -o-linear-gradient(top, rgb(250, 250, 250), rgb(238, 238, 238)) !important;
	background-image: -ms-linear-gradient(top, rgb(250, 250, 250), rgb(238, 238, 238)) !important;
	background-image: linear-gradient(top, rgb(250, 250, 250), rgb(238, 238, 238)) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#fafafa', EndColorStr='#eeeeee') !important;
	}
.homepage-block.no-sorting:hover { opacity:1; }

.homepage-block.header,
.homepage-block.footer {
	background:#ddd;
	padding:10px 20px;
	height:auto;
}

.homepage-block.widget-block {
	padding:10px 20px;
	height:auto;
}

.homepage-block.header {
	-moz-border-radius:10px 10px 0 0; -webkit-border-radius:10px 10px 0 0; border-radius:10px 10px 0 0; 
}

.homepage-block.footer {
	-moz-border-radius:0 0 10px 10px; -webkit-border-radius:0 0 10px 10px; border-radius:0 0 10px 10px; 
}