.shortcode-form { padding:20px 15px 15px; }
.shortcode-form h2 { font-size: 25px; font-weight: normal; padding: 0 0 25px; margin: 15px 0 25px 8px; font-family: sans-serif; border-bottom: 1px solid #DDD; }
.shortcode-form th label { font-weight:bold; }
.shortcode-form .submit { padding:20px 8px !important }