.cl { height: 0; line-height: 0; font-size: 0; clear: both; }
.ecf-field-container { margin-bottom: 4px; padding:5px 0 0 10px; }
.ecf-label {
	width: auto;
	font-weight:bold;
	text-align: left; 
	vertical-align: top;
	padding:10px 0 8px;
}

.inside .ecf-field-container label { padding:20px 0 8px 0; font-size: 15px; display:block; border-top:1px solid #ddd; }
.inside .ecf-field-container:first-child label { padding-top:5px; border:none; }

.ecf-ecf_fieldtext, .ecf-ecf_fieldtextarea {
	width: 80%;
}
.ecf-ecf_fieldtextarea { height:100px; }
.ecf-view_image {
	display: block;
	height: auto !important; /* IE6 hack */
	height: 100px; /* IE6 hack */
	width: auto;
	max-height: 100px;
	max-width: 500px;
	border: 1px solid #DFDFDF;
	padding: 1px;
	margin-top: 5px;
}
.ecf-view_file {
	padding-left: 10px;
	font-weight: bold;
}
.ecf-description {
	color: #666666;
	font-size: 11px;
	margin:5px 0 10px;
}
.ecf-set-list {
	padding: 0 10px 5px 0;
}
.ecf-set-list p {
	margin: 0 !important;
	line-height:22px;
}
.ecf-action { margin-left: 10px; text-decoration: none; }
.ecf-action-cell { width: 140px; vertical-align: top; padding-top: 4px }
.ecf-src-row .ecf-description { display: none; }
#side-info-column .ecf-label {
	width: 0;
}

.ecf-field-container table.mceLayout { border: 1px solid #cccccc !important; }

img.radio_image { display:inline-block; padding:6px; margin:0 1.5% 0 0; background:#fff; border:2px solid #d6d6d6; max-width:10% }
img.radio_image:hover { border-color:#aaa; cursor:pointer; }
img.radio_image.active { border-color:#555; }

.wp-admin select.ecf-field { width:260px; }
.wp-media-buttons a {
	color:#888 !important;
	margin:0 10px 0 0 !important;
	vertical-align: middle !important;
}

.wp-media-buttons a:hover { color:#000 !important; }

#poststuff .inside { margin: 5px 0 20px; }

input[type="file"] { background:none; border:none; margin: 7px 0 5px; padding:0; line-height:15px; }